@import "../../_styles/index.scss";
@import "../../_styles/props.scss";

.nav-wrapper {

    nav {
        .item-style-1 {
            color: var(--dark-text);
        }
        
        .item-2 {
            color: var(--text);
            
            border: 2px solid var(--primary);
        }
    }
}
