@import "../../_styles/index.scss";
@import "../../_styles/props.scss";

.nav-wrapper {

    nav {
        .item-style-1 {
            color: var(--dark-text); 
        }
        
        .item-4 {
            color: var(--text);
            
            border: 2px solid var(--primary);
        }
    }
}

.category-icon.selected-icon {
    color: #FFFFFF; 
}
  
.category[data-category="all"] .category-icon.selected-icon {
    color: #FFFFFF; 
}
.category-icon-all {
    color: #FFFFFF; 
}

.category[data-category="fruits"] .category-icon.selected-icon {
    color: #FFA500; 
}
.category-icon-fruits {
    color: #FFA500; 
}

.category[data-category="vegetables"] .category-icon.selected-icon {
    color: #008000; 
}
.category-icon-vegetables {
    color: #008000; 
}

.category[data-category="grains"] .category-icon.selected-icon {
    color: #e1c699; 
}
.category-icon-grains {
    color: #e1c699; 
}

.category[data-category="meat"] .category-icon.selected-icon {
    color: #de5959;
}
.category-icon-meat {
    color: #de5959;
}

.category[data-category="fish"] .category-icon.selected-icon {
    color: #4b4be0; 
}
.category-icon-fish {
    color: #4b4be0; 
}

.category[data-category="dairy"] .category-icon.selected-icon {
    color: #e4e462; 
}
.category-icon-dairy {
    color: #e4e462; 
}

.category[data-category="sweets"] .category-icon.selected-icon {
    color: #FFC0CB; 
}
.category-icon-sweets {
    color: #FFC0CB; 
}

.fridge-modal {
    position: fixed;
    display: none; //change back to none
    justify-content: center;
    width: 100%;
    height: 100%;

    z-index: 99;

    .modal-content-wrapper {
        height: fit-content;
        width: 400px;
        background-color: var(--surface);
        border: 2px solid var(--dark-2);
        border-radius: var(--border-radius);

        .modal-content-container {
            color: var(--text);

            .modal-content-header {
                border-bottom: 2px solid var(--dark-2);
                padding-bottom: var(--small-gap);

                display: flex;
                justify-content: space-between;

                padding: var(--small-gap) var(--gap) var(--small-gap) var(--gap);

                .modal-header-text {
                    font-size: 18px;
                }
            }

            .modal-content {
                display: flex;
                flex-direction: column;
                gap: var(--gap);

                padding: var(--small-gap) var(--gap) var(--gap) var(--gap);

                .modal-content-item-group {
                    display: flex;
                    gap: var(--small-gap);

                    .modal-content-item {
                        display: flex;
                        flex-direction: column;

                        .modal-item-header {
                            padding-left: 2px;
                            padding-bottom: 6px;
                        }
    
                        .modal-input {
                            background-color: transparent;
                            border: 2px solid var(--dark-3);
                            border-radius: var(--border-radius);
                            color: var(--dark-text);
                            padding: var(--small-gap);
                            outline: none;
                        }

                        .name {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                        .amount-input-wrapper {
                            display: flex;
                            align-items: center;
                            border: 2px solid var(--dark-3);
                            border-radius: var(--border-radius);
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;

                            padding: 0 var(--small-gap) 0 var(--small-gap);
                        }                        

                        .expiration-wrapper-modal {
                            display: flex;
                            padding-left: 2px;

                            gap: var(--small-gap);

                            .expiration-content-modal {
                                display: flex;
                                flex-direction: column;

                                .modal-expiration-input {
                                    background-color: var(--surface);
                                    color: var(--text);
                                    
                                    border: 2px solid var(--dark-3);
                                    border-radius: var(--border-radius);

                                    padding: var(--small-gap);

                                    cursor: pointer;

                                    outline: none;
                                }

                                .expiration-text {
                                    font-size: 12px;
                                    padding-left: 2px;
                                }

                                .expiration-input {
                                    height: 25px;
                                    width: 60px;

                                    border: 2px solid var(--dark-3);

                                    cursor: pointer;
                                }

                                .day {
                                    border-radius: var(--border-radius) 0 0 var(--border-radius);
                                }

                                .month {
                                    border-radius: 0;
                                }

                                .year {
                                    border-radius: 0 var(--border-radius) var(--border-radius) 0;
                                }
                            }
                        }

                        .category-card-wrapper {
                            display: flex;
                            flex-wrap: wrap;

                            gap: var(--small-gap);

                            .category-card {
                                height: 60px;
                                width: 80px;

                                border: 2px solid var(--dark-3);
                                border-radius: var(--border-radius);

                                cursor: pointer;

                                color: var(--dark-text);

                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                padding: var(--small-gap);

                                &:hover {
                                    border: 2px solid var(--dark-2);
                                    color: var(--text);
                                }

                                .category-card-text {
                                    font-size: 12px;
                                }

                                .bx {
                                    font-size: 21px;
                                }
                            }

                            .selected {
                                border: 2px solid var(--dark-2);
                                color: var(--text);
                            }
                        }
                    }

                }
            }
        }
    }
}



.fridge {
    display: flex;

    .fridge-nav {
        width: 15%;
        min-width: 107px;
        max-width: 150px;
        height: fit-content;

        padding: var(--small-gap);

        display: flex;
        flex-direction: column;

        gap: var(--small-gap);

        background-color: var(--surface);

        margin: 15px 0 0 1%;

        border: 2px solid var(--dark-2);
        border-radius: var(--border-radius);

        .category {
            cursor: pointer;
            padding: 5px;
            color: var(--dark-text);

            width: 100%;

            border: 2px solid var(--dark-3);
            border-radius: var(--border-radius);

            display: flex;
            align-items: center;

            gap: 3px;

            @media (max-width: 1050px) {
                font-size: 12px;
            }
            @media (max-width: 915px) {
                font-size: 10px;
            }

            .material-symbols-rounded {
                font-size: 18px;
            }
        }

        .add-item-wrapper {
            margin: var(--gap) 0;
            display: flex;
            justify-content: center;

            @media (max-width: 1050px) {
                font-size: 12px;
            }
        }

        .selected {
            color: var(--text);
            border: 2px solid var(--dark-2);
        }
    }

    ::-webkit-scrollbar {
        width: 0px;
    
        @media (max-width: 420px) {
            display: none;
        }
    }
    
    ::-webkit-scrollbar-track {
        background: var(--surface);
    
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--gray);
    
    }

    .fridge-content-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%; 

        padding: var(--gap);
        padding-bottom: 150px;

        gap: var(--gap);

        max-height: 650px;

        overflow-y: scroll;      

        .fridge-content-container {
            height: fit-content;
            width: 100%;

            display: flex;
            flex-direction: column;

            color: var(--text);

            .fridge-content-header {
                width: 30%;
                min-width: fit-content;
                background-color: var(--surface);

                padding: var(--small-gap) var(--gap) var(--small-gap) var(--gap);

                display: flex;
                justify-content: center;
                align-items: center;

                gap: var(--small-gap);

                border-radius: var(--border-radius) var(--border-radius) 0 0;
                border-left: 2px solid var(--dark-2);
                border-top: 2px solid var(--dark-2);
                border-right: 2px solid var(--dark-2);

                .bx {
                    font-size: 22px;
                }

                @media (max-width: 1050px) {
                    
                    .bx {
                        font-size: 16px;
                    }

                    .material-symbols-rounded {
                        font-size: 18px;
                    }
                }

                h5 {
                    @media (max-width: 1050px) {
                        font-size: 14px;
                    }
                }
            }

            .fridge-content {
                background-color: var(--surface);
                min-height: 300px;

                padding: var(--small-gap);

                border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
                border: 2px solid var(--dark-2);

                display: flex;
                flex-wrap: wrap;

                gap: var(--small-gap);

                .fridge-item {
                    padding: 2px var(--small-gap);
                    border: 2px solid var(--dark-3);
                    border-radius: var(--border-radius);
                    height: fit-content;
                    display: flex;
                    gap: var(--small-gap);

                    .expiration-wrapper {
                        display: flex;
                        align-items: center;
                        gap: var(--small-gap);
                        cursor: pointer;

                        position: relative;
                        
                        &::before {
                            content: attr(data-expiration);
                            position: absolute;
                            top: calc(100% + 8px);
                            width: max-content;
                            translate: -50% 0;
                            left: 50%;
                            border: 2px solid var(--dark-3);
                            padding: 2px var(--small-gap);
                            border-radius: var(--border-radius);
                            color: var(--dark-text);

                            transition: all .2s ease-in-out;
                            opacity: 0;

                            pointer-events: none;
                        }

                        &:hover::before {
                            opacity: 1;
                        }

                        .bx {
                            color: var(--primary);
                        }
                    }

                    .fridge-item-delete {
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        .bx {
                            color: var(--error);
                            font-size: 21px;
                        }
                    }
                }
            }

        }
    }

}